.dress {
  text-transform: uppercase;
  color: black;
  font-size: 48px;
  text-align: center;
  margin-top: 200px;
}

.menu {
  background-color: #f0f0f0;
}

.cards {
  display: grid;
  grid-template-columns: 407px 684px;
  grid-template-rows: auto;
  grid-template-areas: "card card1" "card2 card3";
}

.card {
  background-image: url(/public/image 11.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  padding: 380px;
  height: 200px;
}

.card {
  grid-area: card;
}

.card1 {
  background-image: url(/public/image 13.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  padding: 380px;
  height: 200px;
}

.card1 {
  grid-area: card1;
}

.card2 {
  background-image: url(/public/image 12.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  padding: 380px;
  height: 200px;
}

.card2 {
  grid-area: card2;
}

.card3 {
  background-image: url(/public/image 14.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  padding: 380px;
  height: 200px;
}

.card3 {
  grid-area: card3;
}