.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    
    img{
        width: 100%;
        border-radius: 20px;
        aspect-ratio: 1/1.3;
        object-fit: cover;
        height: 100%;
    }



    div{
        display: flex;
        flex-direction: column;
        gap: 18px;

    }
}.box{
    display: flex;
    flex-direction: column;
    gap: 15px;

  
h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
    margin-bottom: 15px;
}

}


.price{
    margin-bottom: 15px;
}
.colors{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.red {
    padding: 20px;
    background-color: red;
    border-radius: 50%;
    transition: background-color 1s;
}

.black{
    padding: 20px;
    background-color: black;
    border-radius: 50%;
}
.yellow{
    padding: 20px;
    background-color: yellow;
    border-radius: 50%;
}

  
  