.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
padding: 20px 0 30px;
}


.menu{
display: flex;
gap: 20px;
@media (max-width: 900px) {
   display: none;
}
a{
    color: black;
    text-decoration: none;

}
}


.logo{
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    color: black;
}


.search{
    max-width: 500px;
    width: 100%;
    padding: 12px ;
    padding-left: 52px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    background-image: url(/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 20px;

    @media (max-width: 900px) {
        display: none;
    }
}

.box{
    display: flex;
    gap: 15px;
}